/* Regular text and code */
/*@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');*/

/* Titles */
/* @import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap'); */

/*---------------------------------------------
Fonts
(Cannot use url linking to Google because of GDPR, need local copy)
From:
 - https://google-webfonts-helper.herokuapp.com/fonts/rubik?subsets=latin
 - https://google-webfonts-helper.herokuapp.com/fonts/overpass-mono?subsets=latin
---------------------------------------------*/
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/resources/fonts/Rubik-Regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/resources/fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/resources/fonts/Rubik-Regular.woff") format("woff"),
    /* Super Modern Browsers */ url("/resources/fonts/Rubik-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/resources/fonts/Rubik-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/resources/fonts/Rubik-Regular.svg#Rubik")
      format("svg"); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("/resources/fonts/Rubik-Medium.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/resources/fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/resources/fonts/Rubik-Medium.woff") format("woff"),
    /* Super Modern Browsers */ url("/resources/fonts/Rubik-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("/resources/fonts/Rubik-Medium.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/resources/fonts/Rubik-Medium.svg#Rubik")
      format("svg"); /* Legacy iOS */
}
/* overpass-mono-regular - latin */
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/resources/fonts/OverpassMono-Regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/resources/fonts/OverpassMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/resources/fonts/OverpassMono-Regular.woff")
      format("woff"),
    /* Super Modern Browsers */
      url("/resources/fonts/OverpassMono-Regular.woff") format("woff"),
    /* Modern Browsers */ url("/resources/fonts/OverpassMono-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/resources/fonts/OverpassMono-Regular.svg#OverpassMono")
      format("svg"); /* Legacy iOS */
}
