<div class="contact-links">
  <a href="mailto:micaelsilva.desk@gmail.com" class="contact-link">
    <img src="{{ '/resources/icons/email.svg' | relative_url }}" alt="Email icon" />
    <span>E-mail</span>
  </a>
  <a href="http://linkedin.com/in/mykaa" class="contact-link">
    <img src="{{ '/resources/icons/linkedin.svg' | relative_url }}" alt="LinkedIn icon" />
    <span>LinkedIn</span>
  </a>
  <a href="https://github.com/mykaadev" class="contact-link">
    <img src="{{ '/resources/icons/github.svg' | relative_url }}" alt="GitHub icon" />
    <span>GitHub</span>
  </a>
  <a href="https://bsky.app/profile/mykaadev.bsky.social" class="contact-link">
    <img src="{{ '/resources/icons/bluesky.svg' | relative_url }}" alt="Bluesky icon" />
    <span>Bluesky</span>
  </a>
</div>
