<div id="main-footer">
  <p>
    <a alt="back to top" aria-label="back to top" href="#page-top" id="link-back-top" title="back to top">Back To Top</a>
  </p>
  <p>
    +-----------------------+<br />
    mykaa - {{ 'now' | date: '%Y' }} <span id="character-flicker">#</span><br />
    +-----------------------+
  </p>
  <p class="ai-disclaimer">
    The content provided on this website cannot be used, consumed or gathered in order to train large language models, build datasets or make any other kind of AI based solution.
  </p>
</div>